:root {
  --va-medium-editor-margin-bottom: 2.25rem;
  --va-medium-editor-min-width: 6rem;
  --va-medium-editor-max-width: 600px;

  /* Toolbar */
  --va-medium-editor-toolbar-max-width: 90%;
  --va-medium-editor-toolbar-box-shadow: none;
}
