html {
  min-height: 100%;
}

body {
  position: relative;
}

//Util classes
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.widget-viewport-height {
  height: $widget-viewport-height;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}
