.i-nav-notification {
  display: inline-block;
  height: 32px;
  width: 22px;
  background: url('assets/icons/nav-notification.png') no-repeat center center;
}

.i-nav-messages {
  display: inline-block;
  height: 21px;
  width: 26px;
  background: url('assets/icons/nav-messages.png') no-repeat center center;
}

.i-vuestic {
  display: inline-block;
  width: 129px;
  height: 15.4px;
  background: url('assets/icons/vuestic.svg') no-repeat center center;
}
