.abc-checkbox {
  margin-bottom: 20px;

  label{
    &::before{
      width: 22px;
      height: 22px;
      border: 2px solid $input-border-color;
      border-radius: 0;
      @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out);
    }

    &::after{
      width: 20px;
      height: 20px;
      top: 5px;
      left: 2px;
    }

    .abc-label-text {
      display: inline-block;
      position: relative;
      top: 2px;
      padding-left: 13px;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {

    &:focus + label::before{
      outline: none;
    }

    &:disabled + label{
      opacity: 0.5;
    }
  }
}
