.widget-body {
  padding: 60px 75px 0 35px !important
}

h3, h4, strong, b {
  font-weight: 600 !important;
}


.typo-articles {
  width: 80%;
  margin-bottom: 100px;

  > p {
    width: 90%;
    .vue-woodlands {
      color: $vue-green;
    }

    .vue-mountains {
      color: $vue-green;
      &:hover {
        color: #70f0a3;
        cursor: pointer;
      }
    }

    .vue-highlighted {
      background-color: #dbf9e7;
      padding: 2px 1px 1px 2px;
    }

    .vue-selected {
      background-color: $vue-green;
      padding: 2px 1px 2px 2px;
      color: white;
    }
  }

  .blockquote {
    margin: 40px 0px 40px 16px;
    font-style: oblique;
  }
}

//Lists
.vue-lists {
  .col-md-6 {
    margin-right: 0;
    li {
      margin-top: 40px;
      margin-bottom: -40px;
      width: 95%;
      li {
        margin-top: 13px;
        margin-bottom: -27px;
      }
    }
  }
}

ul.vue-unordered {
  padding         : 0;
  list-style-type : none;

  ul {
    padding         : 0;
    list-style-type : none;
  }

  li {
    padding-left : 1.563rem;
    padding-bottom :1.5rem;
    &::before {
      content          : "";
      display          : inline-block;
      width            : 0.75rem;
      height           : 0.75rem;
      position         : relative;
      right            : 1.563rem;
      top              : 0.0625rem;
      margin-right     : -0.75em;
      border-radius    : 0.75rem;
      background-color : $vue-green;
    }

    li {
      &::before {
        background-color : $white;
        border           : 2.5px solid $vue-green;
      }
    }
  }
}

ol.vue-ordered {
  padding       : 0;
  counter-reset : olCounter;

  li {
    list-style   : none;
    padding-left : 1.563rem;
    padding-bottom :1.5rem;
  }

  > li:before {
    counter-increment : olCounter;
    content           : counter(olCounter) ". ";
    display           : inline-block;
    width             : 0.75rem;
    height            : 0.75rem;
    position          : relative;
    right             : 1.563rem;
    top               : 0.0625rem;
    margin-right      : -0.75em;
  }

  ul {
    padding         : 0;
    list-style-type : none;
    li {
      padding-left : 1.563rem;
      &::before {
        content          : "";
        display          : inline-block;
        width            : 0.75rem;
        height           : 0.75rem;
        position         : relative;
        right            : 1.563rem;
        top              : 0.0625rem;
        margin-right     : -0.75em;
        border-radius    : 0.75rem;
        background-color : $vue-green;
      }

    }
  }

}

.vue-misc {
  margin-top: 90px;
}

//Well
.well {
  // width: 95%;
  padding          : 30px 35px 30px 25px;
  background-color : #f7f7f7;
}