
// Colors //
$light-gray: #eee;
$darkest-gray: #444;
$vue-green: #4ae387;
$white: #fff;
$brand-primary: $vue-green !default;

// Layout //
$body-bg: $light-gray;
$top-nav-bg: $darkest-gray;

$layout-padding: 24px;
$layout-padding-right: 44px;

$top-nav-height: 72px;
$nav-padding-left: $layout-padding;
$nav-padding-right: $layout-padding-right;

$sidebar-bg: $darkest-gray;
$sidebar-width: 225px;
$sidebar-top: calc(#{$top-nav-height} + #{$layout-padding});
$sidebar-left: $layout-padding;

$content-wrap-ml: calc(#{$sidebar-left} + #{$sidebar-width} + 35px);
$content-wrap-pr: $layout-padding-right;
$content-wrap-pt: $layout-padding;
$content-wrap-pb: $layout-padding;



// Typography
// -------------------------

//$text-color:            $gray !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;

$font-size-root: 16px;

$font-size-base:          1rem !default;
$font-size-larger:        1.2rem;
$font-size-large:         1.5rem;
$font-size-mini:          0.8rem;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-thin !default;

$font-size-smaller: 85% !default;


//Sidebar
$sidebar-link-height: 64px;
$sidebar-link-pl: 25px;
$sidebar-submenu-link-pl: 74px;
$sidebar-link-active-bg: #2d2d2d;
$sidebar-arrow-right: 16px;
$sidebar-menu-item-icon-size: 19px;

$sidebar-box-shadow: 0px 10px 25px 1px rgba(74,227,135,0.2);

//Widgets
$widget-bg: $white;
$widget-padding: 34px;
$widget-box-shadow: 0px 4px 70px -18px rgba(112,112,112,1);
