// Colors //
$gray-light : #acb5be !default;
$light-gray : #eee;
$darkest-gray : #333;
$almost-black : #161616;
$vue-green : #4ae387;
$vue-darkest-blue : #34495e;
$white : #fff;
$theme-red: #e34a4a;
$theme-orange: #f7cc36;
$theme-blue: #4ab2e3;
$theme-violet: #db76df;
$brand-primary : $vue-green !default;
$brand-danger: $theme-red;
$brand-warning: $theme-orange;
$brand-info: $theme-blue;
$brand-success: $theme-violet;

// Layout //
$body-bg : $light-gray;
$top-nav-bg : $darkest-gray;
$body-color : $vue-darkest-blue !default;
$layout-padding : 24px;
$layout-padding-right : 44px;

$top-nav-height : 72px;
$nav-padding-left : $layout-padding;
$nav-padding-right : $layout-padding-right;

$sidebar-bg : $darkest-gray;
$sidebar-width : 225px;
$sidebar-top : calc(#{$top-nav-height} + #{$layout-padding});
$sidebar-left : $layout-padding;

$content-wrap-ml : calc(#{$sidebar-left} + #{$sidebar-width} + 35px);
$content-wrap-pr : $layout-padding-right;
$content-wrap-pt : $layout-padding;
$content-wrap-pb : $layout-padding;

$greeny-box-shadow : 0px 10px 25px 1px rgba(74, 227, 135, 0.2);

$min-z-index : -1000;

// Typography
// -------------------------

//$text-color:            $gray !default;

$font-family-sans-serif : 'Source Sans Pro', sans-serif !default;

$font-size-root : 16px;

$font-size-base : 1rem !default;
$font-size-larger : 1.2rem;
$font-size-large : 1.5rem;
$font-size-mini : 0.8rem;

$font-weight-bold : 700 !default;
$font-weight-semi-bold : 600 !default;
$font-weight-normal : 400 !default;
$font-weight-thin : 300 !default;
$font-weight-base : $font-weight-thin !default;

$font-size-smaller : 85% !default;

$font-size-h1 : 2.625rem !default;
$font-size-h2 : 2.25rem !default;
$font-size-h3 : 1.75rem !default;
$font-size-h4 : 1.375rem !default;

$headings-line-height : 1 !default;

$blockquote-border-color : $vue-green !default;
$blockquote-border-width : 0.375rem !default;
$blockquote-font-size : 1.5rem !default;
//Navbar
$navbar-dd-item-height : 48px;
$navbar-dd-item-color : $white;
$navbar-dd-item-hover-bg : $almost-black;
$navbar-dd-box-shadow : $greeny-box-shadow;

//Sidebar
$sidebar-link-height : 64px;
$sidebar-submenu-link-height : 48px;
$sidebar-link-pl : 25px;
$sidebar-submenu-link-pl : 74px;
$sidebar-link-active-bg : $almost-black;
$sidebar-arrow-right : 16px;
$sidebar-menu-item-icon-size : 19px;

$sidebar-hidden-top : -150px;

$sidebar-box-shadow : $greeny-box-shadow;

//Widgets
$widget-bg : $white;
$widget-padding : 25px;
$widget-box-shadow : 0px 4px 70px -18px rgba(112, 112, 112, 1);
$widget-viewport-height : calc(100vh - #{$top-nav-height} - #{$content-wrap-pt} - #{$content-wrap-pb});
$widget-header-border: 2px solid $light-gray;
$widget-header-height: 55px;
$widget-body-no-header-height: 100%;
$widget-body-with-header-height: calc(100% - #{$widget-header-height});

//Buttons
$input-btn-border-width: 0px;
$btn-padding-x: 1.25rem;
$btn-box-shadow: 0px 4px 70px -16px rgb(111, 67, 67);
