// Taken from bootstrap.
// We probably should modify these defaults to fit our needs better.
body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #34495e;
  text-align: left;
  background-color: #eeeeee;
}


// Fonts //
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

