@import "../services/vuestic-ui/styles";
@import './icons/icons.scss';

// Temporary colors fix for 2.1.
$vue-purple: #6c7fee;
$purple-box-shadow: 0 4px 9.6px 0.4px rgba($vue-purple, 0.5);

body {
  #app {
    &.inverted-color {
      ::selection {
        background-color: $vue-purple;
        color: $white;
      }

      .link {
        color: $vue-purple;
      }

      .va-data-table {
        th.sortable {
          color: $vue-purple;
        }
      }

      .va-dropdown {
        .profile-dropdown,
        .language-dropdown,
        .message-dropdown,
        .notification-dropdown {
          &__item {
            &.active,
            &:hover {
              color: $vue-purple;
            }
          }
        }
      }
    }
  }

  .toasted-container.inverted-color {
    .toasted.vuestic-toast {
      box-shadow: $purple-box-shadow;

      i,
      i.fa {
        color: $vue-purple;
      }
    }
  }
}
