{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "no-empty-source": null,
    "font-family-no-missing-generic-family-keyword": null,
    "block-no-empty": null,
    "no-descending-specificity": null,
    "color-hex-length": "long",
    "color-hex-case": "lower"
  }
}
