@font-face {
  font-family: 'Vuestic Icons';
  font-weight: normal;
  font-style: normal;
  src: url('vuestic-theme/vuestic-sass/icons/icon-fonts/vuestic-icons/vuestic-icons.eot');
  src: url('vuestic-theme/vuestic-sass/icons/icon-fonts/vuestic-icons/vuestic-icons.eot?#iefix') format('eot'),
  url('vuestic-theme/vuestic-sass/icons/icon-fonts/vuestic-icons/vuestic-icons.woff') format('woff'),
  url('vuestic-theme/vuestic-sass/icons/icon-fonts/vuestic-icons/vuestic-icons.ttf') format('truetype'),
  url('vuestic-theme/vuestic-sass/icons/icon-fonts/vuestic-icons/vuestic-icons.svg#vuestic-icons') format('svg');

}

.vuestic-i {
  line-height: 1;
}

.vuestic-i:before {
  display: inline-block;
  font-family: 'Vuestic Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.vuestic-i-comments:before {
  content: '\0041';
}

.vuestic-i-components:before {
  content: '\0042';
}

.vuestic-i-dashboard:before {
  content: '\0043';
}

.vuestic-i-extras:before {
  content: '\0044';
}

.vuestic-i-files:before {
  content: '\0045';
}

.vuestic-i-forms:before {
  content: '\0046';
}

.vuestic-i-graph:before {
  content: '\0047';
}

.vuestic-i-auth:before {
  content: '\0048';
}

.vuestic-i-image:before {
  content: '\0049';
}

.vuestic-i-maps:before {
  content: '\004a';
}

.vuestic-i-music:before {
  content: '\004b';
}

.vuestic-i-settings:before {
  content: '\004c';
}

.vuestic-i-statistics:before {
  content: '\004d';
}

.vuestic-i-tables:before {
  content: '\004e';
}

.vuestic-i-time:before {
  content: '\004f';
}

.vuestic-i-ui-elements:before {
  content: '\0050';
}

.vuestic-i-user:before {
  content: '\0051';
}

.vuestic-i-video:before {
  content: '\0052';
}
