.content {
  h1 {
    @include va-display(1);
    @include va-header-margin(1);
  }

  h2 {
    @include va-display(2);
    @include va-header-margin(2);
  }

  h3 {
    @include va-display(3);
    @include va-header-margin(3);
  }

  h4 {
    @include va-display(4);
    @include va-header-margin(4);
  }

  h5 {
    @include va-display(5);
    @include va-header-margin(5);
  }

  h6 {
    @include va-display(6);
    @include va-header-margin(6);
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  pre {
    margin-bottom: 1rem;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;

    &.code {
      @extend .code-snippet
    }
  }

  ol {
    @extend .va-ordered
  }

  ul {
    @extend .va-unordered
  }

  blockquote {
    @extend .va-blockquote
  }

  figure {
    @extend .va-card
  }

  table {
    @extend .va-table
  }
}
