.modal {
  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-30%);
  }

  &-enter-active {
    transition: all .3s ease;
  }

  &-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
}
