
::selection {
  background-color: $text-selected;
  color: $white;
}

.link {
  color: $va-link-color;
}

.link-secondary {
  color: $va-link-color-secondary;
}

.link, .link-secondary {
  cursor: pointer;

  &:hover {
    color: $va-link-color-hover;
  }

  &:active {
    color: $va-link-color-active;
  }

  &:visited {
    color: $va-link-color-visited;
  }
}

.title {
  color: $vue-green;
  font-size: 10px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;

  &--info {
    color: $theme-blue-dark;
  }

  &--danger {
    color: $theme-danger;
  }

  &--warning {
    color: $theme-warning;
  }

  &--gray {
    color: $brand-secondary;
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--highlighted {
    background-color: $text-highlighted;
  }

  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }

  &--center {
    text-align: center !important;
  }

  &--uppercase {
    text-transform: uppercase !important;
  }

  &--lowercase {
    text-transform: lowercase !important;
  }

  &--capitalize {
    text-transform: capitalize !important;
  }

  &--no-wrap {
    white-space: nowrap !important;
  }

  &--truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  &--code {
    color: $white;
    font-family: "Source Code Pro";
    background-color: $vue-darkest-blue;
    padding: 0.1rem 0.2rem;
  }

  &--secondary {
    opacity: 0.4;
  }
}

.va-blockquote {
  border-left: 0.25rem solid $vue-green;
  border-radius: 0.125rem;
  padding: 0.4rem 0 0.4rem 0.8rem;
  color: $blockquote-font-color;

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

$display-font-sizes: (
  1: 2.5rem,
  2: 2rem,
  3: 1.75rem,
  4: 1.5rem,
  5: 1.25rem,
  6: 1.1rem
);

$display-margins: (
  1: 4.5rem,
  2: 4rem,
  3: 3rem,
  4: 2.5rem,
  5: 2.25rem,
  6: 2rem
);

@each $element, $size in $display-font-sizes {
  .display-#{$element} {
    @include va-display($element);
  }
}

.code-snippet {
  font-size: 14px;
  color: $white;
  padding: 1rem;
  font-family: "Source Code Pro";
  background-color: $vue-darkest-blue;
}

ul.va-unordered {
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;

  ul.va-unordered, ol.va-ordered {
    margin-bottom: 0;
  }

  & > li {
    padding-left: 1rem;
    position: relative;

    &:before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0.5rem;
      background-color: $theme-blue-dark;
    }
  }
}

ol.va-ordered {
  margin-bottom: 1rem;
  padding: 0;
  counter-reset: olCounter;

  ul.va-unordered, ol.va-ordered {
    margin-bottom: 0;
  }

  & > li {
    list-style: none;
    padding: 0 1rem;

    &:before {
      counter-increment: olCounter;
      content: counter(olCounter) ". ";
      display: inline-block;
      min-width: 0.75rem;
      height: 0.75rem;
      position: relative;
      right: 1rem;
      margin-right: -0.75em;
    }
  }
}

.va-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.125rem;

  thead tr {
    border-bottom: 2px solid $vue-darkest-blue;

    td {
      @extend .title;
      color: $vue-darkest-blue;
    }
  }

  td {
    padding: .625rem;
    font-size: .875rem;
    line-height: 1.43;
    color: $vue-darkest-blue;
  }

  &.striped {
    tbody tr:nth-of-type(odd) {
      background-color: $white;
    }

    tbody tr:nth-of-type(even) {
      background-color: $light-gray3;
    }
  }
}

.vue-misc {
  margin-top: 5.625rem;
  margin-bottom: 2rem;
}

.text-block {
  padding: 1.2rem;
  background-color: $light-gray3;
}
