
::selection {
  background-color: $text-selected;
  color: $white;
}

.link {
  color: $va-link-color;
}

.link-secondary {
  color: $va-link-color-secondary;
}

.link, .link-secondary {
  cursor: pointer;

  &:hover {
    color: $va-link-color-hover;
  }

  &:active {
    color: $va-link-color-active;
  }

  &:visited {
    color: $va-link-color-visited;
  }
}

.title {
  @include va-title();

  &--info {
    color: $theme-blue-dark;
  }

  &--danger {
    color: $theme-danger;
  }

  &--warning {
    color: $theme-warning;
  }

  &--gray {
    color: $brand-secondary;
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--highlighted {
    background-color: $text-highlighted;
  }

  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }

  &--center {
    text-align: center !important;
  }

  &--uppercase {
    text-transform: uppercase !important;
  }

  &--lowercase {
    text-transform: lowercase !important;
  }

  &--capitalize {
    text-transform: capitalize !important;
  }

  &--no-wrap {
    white-space: nowrap !important;
  }

  &--truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  &--code {
    color: $white;
    font-family: "Source Code Pro";
    background-color: $vue-darkest-blue;
    padding: 0.1rem 0.2rem;
  }

  &--secondary {
    opacity: 0.4;
  }
}

.va-blockquote {
  border-left: 0.25rem solid $vue-green;
  border-radius: 0.125rem;
  padding: 0.4rem 0 0.4rem 0.8rem;
  color: $blockquote-font-color;

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@each $element, $size in $display-font-sizes {
  .display-#{$element} {
    @include va-display($element);
  }
}

.code-snippet {
  @include va-code-snippet();
}

ul.va-unordered {
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;

  ul.va-unordered, ol.va-ordered {
    margin-bottom: 0;
  }

  & > li {
    padding-left: 1rem;
    position: relative;

    &:before {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0.5rem;
      background-color: $theme-blue-dark;
    }
  }
}

ol.va-ordered {
  margin-bottom: 1rem;
  padding: 0;
  counter-reset: olCounter;

  ul.va-unordered, ol.va-ordered {
    margin-bottom: 0;
  }

  & > li {
    list-style: none;
    padding: 0 1rem;

    &:before {
      counter-increment: olCounter;
      content: counter(olCounter) ". ";
      display: inline-block;
      min-width: 0.75rem;
      height: 0.75rem;
      position: relative;
      right: 1rem;
      margin-right: -0.75em;
    }
  }
}

.va-table {
  @include va-table();
}

.vue-misc {
  margin-top: 5.625rem;
  margin-bottom: 2rem;
}

.text-block {
  padding: 1.2rem;
  background-color: $light-gray3;
}
