.vue-highlighted-text {
  background-color: $vue-turquoise;
}

.link {
  color: $va-link-color;
}

.link-secondary {
  color: $va-link-color-secondary;
}

.link, .link-secondary {
  cursor: pointer;
  &:hover {
    color: $va-link-color-hover;
  }
  &:active {
    color: $va-link-color-active;
  }
  &:visited {
    color: $va-link-color-visited;
  }
}

.vue-selected-text, ::selection {
  background-color: $brand-primary;
  color: $white;
}

.text {
  &--bold {
    font-weight: bold;
  }
  &--uppercase {
    text-transform: uppercase !important;
  }
  &--lowercase {
    text-transform: lowercase !important;
  }
  &--capitalize {
    text-transform: capitalize !important;
  }
  &--no-wrap {
    white-space: nowrap !important;
  }
  &--truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

$font-sizes: (
  display-1: 48px,
  display-2: 32px,
  display-3: 24px,
  display-4: 20px,
  display-5: 16px
);

@function size($key) {
  @if map-has-key($font-sizes, $key) {
    @return map-get($font-sizes, $key);
  }
}

@for $count from 1 through 5 {
  .display-#{$count} {
    @include display();
    font-size: size(display-#{$count})
  }
}

.code-snippet {
  font-size: 14px;
  color: $white;
  background-color: $vue-darkest-blue;
}

ul.vue-list-inner, ol.vue-list-inner {
  li:first-child {
    margin-top: 1.5rem;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

ul.vue-unordered {
  padding         : 0;
  list-style-type : none;

  ul {
    padding         : 0;
    list-style-type : none;
  }

  li {
    padding-left : 1.563rem;
    padding-bottom :1.5rem;
    &::before {
      content          : "";
      display          : inline-block;
      width            : 0.75rem;
      height           : 0.75rem;
      position         : relative;
      right            : 1.563rem;
      top              : 0.0625rem;
      margin-right     : -0.75em;
      border-radius    : 0.75rem;
      background-color : $vue-green;
    }

    li {
      &::before {
        background-color : $white;
        border           : 2.5px solid $vue-green;
      }
    }
  }
}

ol.vue-ordered {
  padding       : 0;
  counter-reset : olCounter;

  li {
    list-style   : none;
    padding-left : 1.563rem;
    padding-bottom :1.5rem;
  }

  > li:before {
    counter-increment : olCounter;
    content           : counter(olCounter) ". ";
    display           : inline-block;
    width             : 0.75rem;
    height            : 0.75rem;
    position          : relative;
    right             : 1.563rem;
    top               : 0.0625rem;
    margin-right      : -0.75em;
  }

  ul {
    padding         : 0;
    list-style-type : none;
    li {
      padding-left : 1.563rem;
      &::before {
        content          : "";
        display          : inline-block;
        width            : 0.75rem;
        height           : 0.75rem;
        position         : relative;
        right            : 1.563rem;
        top              : 0.0625rem;
        margin-right     : -0.75em;
        border-radius    : 0.75rem;
        background-color : $vue-green;
      }

    }
  }

}

.vue-misc {
  margin-top: 5.625rem;
  margin-bottom: 2rem;
}

//Well
.well {
  padding          : 1.9rem 2.2rem 1.9rem 1.6rem;
  // background-color : #f7f7f7;
  background-color: $light-gray;
}
