.background--red {
  background-color: $red !important;
}

.text--red {
  color: $red !important;
}

.background--blue {
  background-color: $blue !important;
}

.text--blue {
  color: $blue !important;
}

.background--green {
  background-color: $green !important;
}

.text--green {
  color: $green !important;
}

.background--yellow {
  background-color: $yellow !important;
}

.text--yellow {
  color: $yellow !important;
}

.background--gray {
  background-color: $gray !important;
}

.text--gray {
  color: $gray !important;
}

.background--black {
  background-color: $black !important;
}

.text--black {
  color: $black !important;
}
