// Colors //
$gray-light: #acb5be !default;
$light-gray: #eeeeee;
$light-gray2: #eff4f5;
$light-gray3: #f5f8f9;
$lighter-gray: #dddddd;
$charcoal: #555555;
$darkest-gray: #333333;
$almost-black: #161616;
$hover-black: #222222;
$vue-green: #4ae387;
$vue-light-green: #dbf9e8;
$light-green: #c8f9c5;
$lighter-green: #e9fde8;
$light-blue: #dcf1ff;
$light-yellow: #fff1c8;
$light-pink: #ffcece;
$vue-darkest-blue: #34495e;
$vue-turquoise: #dbf9e7;
$white: #ffffff;
$theme-danger: #e34b4a;
$theme-warning: #ffc200;
$theme-red: #e34a4a;
$theme-orange: #f7cc36;
$theme-blue: #4ab2e3;
$theme-blue-dark: #2c82e0;
$theme-violet: #db76df;
$theme-pale: #d9d9d9;
$brand-primary: $vue-green !default;
$brand-danger: $theme-red;
$brand-warning: $theme-orange;
$brand-info: $theme-blue;
$brand-success: $vue-green;
$brand-secondary: #babfc2;
$light-gray2: #eff4f5;
$dark-gray: #282828;
$gray: #adb3b9;
$dark-blue: #0e4ac4;
$text-gray: #b4b4b4;

$separator-color: #e6e9ec;

$transition-primary: 0.3s cubic-bezier(.25,.8,.50,1); // swing
$transition-secondary: 0.2s cubic-bezier(0.4, 0.0, 0.6, 1); // ease-in-out

$colors-map: (
  brand-danger: $brand-danger,
  brand-primary: $brand-primary,
  brand-info: $brand-info,
  brand-success: $brand-success,
  brand-warning: $brand-warning,
  black: black,
  white: white,
  lighter-gray: $lighter-gray
);

$theme-colors: (
  "primary": $brand-primary,
  "secondary": $white,
  "success": $light-green,
  "info": $brand-info,
  "warning": $brand-warning,
  "danger": $brand-danger,
  "light": $light-gray2,
  "dark": $almost-black,
  "pale": $theme-pale
);

// Layout //
$body-bg: $light-gray;
$top-nav-bg: $dark-blue;
$body-color: $vue-darkest-blue !default;
$layout-padding: 24px;
$layout-padding-right: 2rem;

$top-nav-height: 4.0625rem;

$nav-padding-left: 1rem;
$nav-padding-right: $layout-padding-right;
$navbar-brand-container-left: 75px;

$sidebar-bg: $darkest-gray;
$sidebar-width: 225px;
$sidebar-top: calc(#{$top-nav-height} + #{$layout-padding});
$sidebar-left: $layout-padding;
$min-z-index: -1000;

$content-wrap-ml: calc(#{$sidebar-left} + #{$sidebar-width});
$content-wrap-pb: $layout-padding;
$made-by-footer-pb: 27px;

$greeny-box-shadow: 0 4px 9.6px 0.4px rgba($vue-green, .5);
$gray-box-shadow: 0 2px 3px 0 rgba(98, 106, 119, 0.25);

//Auth
$auth-logo-height: 2.625rem;

//Checkbox and RadioButton
$checkbox-between-items-margin: 1rem;
$checkbox-between-label-margin: 2.35rem;
$checkbox-label-margin-top: 0.2rem;

//Mobile Layout
$top-mobile-nav-height: 6.5rem;
$layout-mobile-padding: 0.1875rem;

$sidebar-mobile-width: calc(100% - .375rem);
$sidebar-mobile-top: $top-mobile-nav-height+$layout-mobile-padding;
$sidebar-mobile-left: $layout-mobile-padding;
$sidebar-mobile-z-index: 1000;

$content-mobile-wrap-pl: 1rem;
$content-mobile-wrap-pr: 1rem;
$content-mobile-wrap-pb: $layout-padding;
$content-mobile-wrap: 2rem $content-mobile-wrap-pr $content-mobile-wrap-pb $content-mobile-wrap-pl;
$content-mobile-wrap-fixed-layout: 7rem $content-mobile-wrap-pr $content-mobile-wrap-pb $content-mobile-wrap-pl;
$content-mobile-wrap-sb-top: calc(#{$top-nav-height} + #{$layout-padding+20}) - 20 px;

//Auth mobile
$auth-mobile-nav-ivuestic-h: 1.5rem;
$auth-mobile-main-h: calc(100% - #{$top-mobile-nav-height});
$auth-content-padding-t: 2.875rem;

// Typography
$blockquote-font-color: $brand-secondary;
$text-highlighted: #fff3d1;
$text-selected: #40e583;
$on-focus-background-color: rgba(187, 180, 178, 0.71);

//$text-color:            $gray !default;
$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$font-size-root: 16px;

$font-size-base: 1rem !default;
$font-size-larger: 1.2rem;
$font-size-large: 1.5rem;
$font-size-mini: 0.8rem;

$font-weight-bold: 700 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-normal: 400 !default;
$font-weight-thin: 300 !default;
$font-weight-base: $font-weight-thin !default;

$font-size-smaller: 85% !default;

$font-size-h1: 2.625rem !default;
$font-size-h2: 2.25rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.375rem !default;

$headings-line-height: 1 !default;

$blockquote-border-color: $vue-green;
$blockquote-small-color: $gray-light;
$blockquote-border-width: 0.375rem;
$blockquote-font-size: 1.5rem;

// Links
$va-link-color: $brand-primary;
$va-link-color-secondary: $brand-secondary;
$va-link-color-hover: #79eca8;
$va-link-color-active: #48c279;
$va-link-color-visited: $va-link-color;
$link-hover-decoration: none;

//Sidebar
$sidebar-link-height: 64px;
$sidebar-submenu-link-height: 48px;
$sidebar-link-pl: 25px;
$sidebar-submenu-link-pl: 74px;
$sidebar-link-active-bg: $almost-black;
$sidebar-arrow-right: 16px;
$sidebar-menu-item-icon-size: 19px;
$sidebar-viewport-height: calc(100vh - #{$top-nav-height} - #{$layout-padding} - #{$content-wrap-pb});

$sidebar-hidden-top: -150px;
$sidebar-hidden-top-mobile: $sidebar-mobile-top;
$sidebar-hidden-height-mobile: 0;
$sidebar-box-shadow: 0px 8px 14.72px 1.28px rgba(#65a977, 0.3);

//Widgets
$widget-bg: $white;
$widget-larger-padding: 45px;
$widget-danger-shadow: 0px 4px 70px -16px $brand-danger;
$widget-info-shadow: 0px 4px 70px -16px $brand-info;
$info-widget-border: 0.5rem solid $brand-primary;

$widget-padding: 1.5625rem;
$widget-box-shadow: 0px 4px 70px -18px #707070;
$widget-header-border: 2px solid $light-gray;
$widget-header-height: 55px;
$widget-mb: 1.875rem;

//Icons
$icon-lg-size: 2.25rem;
$icon-sm-size: 1rem;
$icon-fixed-width: 1.25rem;

//Buttons
$btn-border: 0;
$btn-border-outline: 0.125rem;
$btn-box-shadow: 0 0.125rem 0.19rem 0;
$btn-margin: 0.375rem 0.5rem;
$btn-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 1.75rem;
$btn-font-size-lg: 1.25rem;
$btn-line-height-lg: 1.3;
$btn-border-radius-lg: 2rem;
$btn-letter-spacing-lg: 0.04rem;
$btn-icon-width-lg: 2rem;
$btn-with-icon-wrapper-padding-lg: 0.75rem;
$btn-with-icon-content-padding-lg: 0.63rem;

$btn-padding-y-sm: 0.125rem;
$btn-padding-x-sm: 0.75rem;
$btn-font-size-sm: 0.875rem;
$btn-line-height-sm: 1.43;
$btn-border-radius-sm: 1rem;
$btn-letter-spacing-sm: 0.03rem;
$btn-icon-width-sm: 1rem;
$btn-with-icon-wrapper-padding-sm: 0.25rem;
$btn-with-icon-content-padding-sm: 0.25rem;

$btn-padding-y-nrm: 0.375rem;
$btn-padding-x-nrm: 1.25rem;
$btn-font-size-nrm: 1rem;
$btn-line-height-nrm: 1.5;
$btn-border-radius-nrm: 1.5rem;
$btn-letter-spacing-nrm: 0.032rem;
$btn-icon-width-nrm: 1.5rem;
$btn-with-icon-wrapper-padding-nrm: 0.5rem;
$btn-with-icon-content-padding-nrm: 0.5rem;

//Chips
$chip-border: 0;
$chip-border-outline: 0.125rem;
$chip-box-shadow: 0 0.125rem 0.19rem 0;
$chip-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);

$chip-padding-y-sm: 0.125rem;
$chip-padding-x-sm: 0.5rem;
$chip-font-size-sm: 0.625rem;
$chip-line-height-sm: 1.5;
$chip-border-radius-sm: 0.5rem;
$chip-letter-spacing-sm: 0.0625rem;
$chip-icon-width-sm: 1rem;
$chip-with-icon-wrapper-padding-sm: 0.25rem;
$chip-with-icon-content-padding-sm: 0.25rem;

$chip-padding-y-nrm: 0.25rem;
$chip-padding-x-nrm: 0.75rem;
$chip-font-size-nrm: 0.875rem;
$chip-line-height-nrm: 1.29;
$chip-border-radius-nrm: 1.125rem;
$chip-icon-width-nrm: 0.75rem;
$chip-with-icon-wrapper-padding-nrm: 0.5rem;
$chip-with-icon-content-padding-nrm: 0.5rem;

$chip-padding-y-lg: 0.15rem;
$chip-padding-x-lg: 1rem;
$chip-font-size-lg: 1.125rem;
$chip-line-height-lg: 1.71;
$chip-border-radius-lg: 1.75rem;
$chip-icon-width-lg: .5rem;
$chip-with-icon-wrapper-padding-lg: 0.75rem;
$chip-with-icon-content-padding-lg: 0.75rem;

//Dropdowns
$dropdown-box-shadow: $gray-box-shadow;
$dropdown-background: $light-gray3;
$dropdown-item-height: 40px;
$dropdown-menu-padding-y: 10px;
$dropdown-menu-padding-x: 0;
$dropdown-show-b: 1.125rem;

//Progress Bars
$progress-value-font-size: 0.625rem;
$progress-circle-diameter: 2.5rem;
$progress-bar-width-basic: .5rem;

//Tables
$table-border-color: #eceeef;
$striped-row-odd: $white;
$striped-row: $light-gray2;
$table-hover-bg: rgba($vue-green, .5);

//Badges
$badge-min-width: 5rem;
$badge-success-bg: $brand-success;

//Alerts
$with-close-pr: 3.125rem;
$alert-padding-x: 1.25rem !default;
$alert-padding-y: .75rem !default;

$alert-success-bg: $light-green;
$alert-success-text: $body-color;
$alert-success-border: transparent;
$alert-success-shadow: 0px 4px 9.6px 0.4px rgba(79, 206, 145, 0.5);

$alert-info-bg: $light-blue;
$alert-info-text: $body-color;
$alert-info-border: transparent;
$alert-info-shadow: 0px 4px 9.6px 0.4px rgba(79, 142, 206, 0.5);

$alert-warning-bg: $light-yellow;
$alert-warning-text: $body-color;
$alert-warning-border: transparent;
$alert-warning-shadow: 0px 4px 9.6px 0.4px rgba(206, 178, 79, 0.5);

$alert-danger-bg: $light-pink;
$alert-danger-text: $body-color;
$alert-danger-border: transparent;
$alert-danger-shadow: 0px 4px 9.6px 0.4px rgba(206, 79, 79, 0.5);

//Tabs

$tab-content-pt: 3.125rem;
$tab-content-pb: 1.5rem;

//Medium Editor
$medium-editor-button-size: $btn-padding-y-lg * 2 + $font-size-base * $btn-line-height-lg;

//tooltips

$tooltip-box-shadow: $greeny-box-shadow;
$tooltip-line-height: 1.13;
$tooltip-font-weight: 300;

// Popovers

$popover-line-height: $tooltip-line-height;
$popover-box-shadow: $tooltip-box-shadow;
$popover-box-shadow: $greeny-box-shadow;

$popover-header-no-icon-padding-x: 0;
$popover-header-font-weight: bold;

$popover-body-padding-y: 0;

$popover-icon-size: 1.35rem;
$popover-icon-color: $brand-primary;

// Toasts

$toast-font-size: $font-size-base;
$toast-line-height: $popover-line-height;
$toast-font-weight: normal;
$toast-min-height: 3.25rem;
$toast-box-shadow: $popover-box-shadow;
$toast-bg: $darkest-gray;
$toast-border-radius: $font-size-base * 0.5;
$toast-color: $white;

$toast-padding-x: 1.15rem;
$toast-padding-y: 0.5rem;

$toast-icon-size: $popover-icon-size;
$toast-icon-color: $popover-icon-color;
$toast-icon-ml: 0;
$toast-icon-mr: 0.625rem;

// Cards

$card-border-radius: 0.375rem;
$card-box-shadow: 0 2px 3px 0 rgba(52, 56, 85, 0.25);
$card-title-font-size: 0.625rem;
$card-title-letter-spacing: 0.0375rem;
$card-title-color: #104fca;
$card-padding: 1.25rem;

// Datepickers

$datepicker-box-shadow: 0 2px 3px 0 rgba(98, 106, 119, 0.25);
