// Global utility classes.
@import "typography";

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.card {
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  box-shadow: $widget-box-shadow;
  word-wrap: break-word;

  figcaption {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
