// Global utility classes.
// NOTE Try your best not to use them. Seek a chance to destroy.

@import "typography";

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}
