// These fonts were originally provided by http://weloveiconfonts.com.
// We decided to add these into package after https ceased to work due to lack of support on their side.
@import 'brandico/brandico';
@import 'entypo/entypo';
@import 'fontelico/fontelico';
@import 'iconicstroke/iconicstroke';
@import 'maki/maki';
@import 'openwebicons/openwebicons';
@import 'zocial/zocial';
@import 'vuestic-icons/vuestic-icons';
@import 'glyphicons/glyphicons';
@import 'font-awesome/font-awesome';
@import 'ionicons/ionicons';
