// These fonts were originally provided by http://weloveiconfonts.com.
// We decided to add these into package after https ceased to work due to lack of support on their side.
@import 'vuestic-icons/vuestic-icons';
